{
  "project_info": {
    "project_number": "REPLACE",
    "project_id": "REPLACE"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REPLACE",
        "android_client_info": {
          "package_name": "com.jeetpunjabitadka.partner"
        }
      },
      "api_key": [
        {
          "current_key": "REPLACE"
        }
      ]
    }
  ]
}
